accelerate==1.0.1
certifi==2024.8.30
charset-normalizer==3.4.0
contourpy==1.3.0
ctransformers==0.2.27
cycler==0.12.1
filelock==3.16.1
FlagEmbedding==1.2.11
fonttools==4.54.1
fsspec==2024.10.0
huggingface-hub==0.26.2
idna==3.10
Jinja2==3.1.4
kiwisolver==1.4.7
MarkupSafe==3.0.2
matplotlib==3.7.1
mpmath==1.3.0
networkx==3.4.2
numpy==1.26.4
packaging==24.1
pandas==2.2.2
peft==0.13.2
pillow==11.0.0
pipdeptree==2.23.4
psutil==6.1.0
py-cpuinfo==9.0.0
pyparsing==3.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
regex==2024.9.11
requests==2.32.3
safetensors==0.4.5
six==1.16.0
sympy==1.13.3
tiktoken==0.8.0
tokenizers==0.20.1
torch==2.2.2
tqdm==4.66.6
transformers==4.46.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3