.barica {
    margin-top: 100px;
    position:static;
    position:fixed;
    top:0px;
    left:0px;
    width:480px;
    height:768px;
    z-index: -100;
}
video {
    -webkit-transform: scale(2.3, 2.3);
}
